@tailwind base;
@tailwind components;
@tailwind utilities;

/* defiining golobal variables for dark and light themes */
:root {
  --scrollbar-track-color: #f3def5;
  --scrollbar-thumb-color: #ad55d8;
  --scrollbar-thumb-hover-color: #70437f;
  --animated-border-color: black;
}

.dark {
  --scrollbar-track-color: #3c274e;
  --scrollbar-thumb-color: #bc82c4;
  --scrollbar-thumb-hover-color: #96529b;
  --animated-border-color: white;
}

/* styling scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

/* costum animated searchbar */
input {
  all: unset;
}

.search-box {
  --offset: 3px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

/* Conic gradient */
.search-box::before {
  content: "";
  background: conic-gradient(
    transparent 270deg,
    var(--animated-border-color),
    transparent
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}

/* Overlay */
.search-box::after {
  content: "";
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

.search-box input {
  background: transparent;
  position: absolute;
  inset: 0;
  z-index: 10;
  padding: 1.5rem;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}
